{% load static %}

<!-- footer begin -->
    <footer>
            <div class="container">
                <div class="nav">
                    <div class="col-md-3">
                        <div class="widget widget_recent_post">
                            <h3>О нас</h3>
                            <ul>
                                <li><a href="{% url 'main:about_url' %}">О компании</a></li>
                                <li><a href="{% url 'main:portfolio_url' %}">Портфолио</a></li>
                                <li><a href="{% url 'main:contact_url' %}">Контакты</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="widget widget_recent_post">
                            <h3>Услуги</h3>
                            <ul>
                                <li><a href="{% url 'main:arenda_url' %}">Аренда</a></li>
                                <li><a href="{% url 'main:sale_url' %}">Продажа</a></li>
                                <li><a href="{% url 'main:service_url' %}">Сервис</a></li>
                            </ul>
                        </div>
                    </div>


                    <div class="col-md-5">
                        <div class="widget widget-address" style="margin-top: -16px;">
                            <address>
                                <span class="custom_span"><strong><i class="fa fa-map fa-lg"></i></strong><a href="#">{{ settings.address }}</a></span>
                                <span class="custom_span"><strong><i class="fa fa-phone fa-lg"></i></strong>{{ settings.tel_first }}</span>
                                <span class="custom_span"><strong><i class="fa fa-mobile fa-lg"></i></strong>{{ settings.tel_second }}</span>
                                <span class="custom_span"><strong><i class="fa fa-mail-reply fa-lg"></i></strong><a href="#">{{ settings.email }}</a></span>
                            </address>
                        </div>
                    </div>

                    <div class="col-md-1">
                        <div class="widget widget_recent_post social corr-social" style="margin-top: 5px;">
{#                            <h3>Соцсетях</h3>#}
                            <ul>
                                <li><a href="{{ settings.facebook }}"><i class="fa fa-facebook fa-lg"></i></a></li>
                                <li><a href="{{ settings.instagram }}"><i class="fa fa-instagram fa-lg"></i></a></li>
                                <li><a href="{{ settings.telegram }}"><i class="fa fa-telegram fa-lg"></i></a></li>
                                <li><a href="{{ settings.youtube }}"><i class="fa fa-youtube fa-lg"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
                </div>
            </div>

            <div class="subfooter">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            &copy; Copyright 2017-2021 <span class="id-color">LED DESIGN GROUP</span>
                        </div>
{#                        <div class="col-md-6 text-right">#}
{#                            <div class="social-icons">#}
{#                                <a href="#"><i class="fa fa-facebook fa-lg"></i></a>#}
{#                                <a href="#"><i class="fa fa-twitter fa-lg"></i></a>#}
{#                                <a href="#"><i class="fa fa-telegram fa-lg"></i></a>#}
{#                                <a href="#"><i class="fa fa-instagram fa-lg"></i></a>#}
{#                            </div>#}
{#                        </div>#}
                    </div>
                </div>
            </div>
            <a href="#" id="back-to-top"></a>
        </footer>
<!-- footer close -->