{% load static %}
<!-- header begin -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- logo begin -->
                <div id="logo">
                    <a href="{% url 'main:home_url' %}">
                        <img class="logo logo_custom" src="{% static 'images/ldg_logo.png' %}" alt="">
                    </a>
                </div>
                <!-- logo close -->

                <!-- small button begin -->
                <span id="menu-btn"></span>
                <!-- small button close -->

                <!-- mainmenu begin -->
                <nav>
                    <ul id="mainmenu">
                        <li><a href="{% url 'main:home_url' %}">Главная<span></span></a></li>
                        <li><a href="{% url 'main:about_url' %}">О нас </a>
                            <ul>
                                <li><a href="{% url 'main:about_url' %}">О компании</a></li>

                                <li><a href="{% url 'main:team_url' %}">Наша команда</a></li>

                                <li><a href="{% url 'main:awards_url' %}">Сертификаты</a></li>
                            </ul>
                        </li>
                        <li><a href="{% url 'main:arenda_url' %}">Аренда</a></li>
                        <li><a href="{% url 'main:sale_url' %}">Продажа</a>
                            <ul>
                                {% for item in categories %}
                                    <li><a href="{% url 'main:sale_list_by_category' item.slug %}">{{ item.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li><a href="{% url 'main:service_url' %}" class="menu-items-border">Сервис</a></li>
                        <li><a href="{% url 'main:portfolio_url' %}" class="menu-items-border">Портфолио</a></li>
                        <li><a href="{% url 'main:contact_url' %}" class="menu-items-border">Контакты</a></li>
                        <li>
                            <a href="tel:+998998680002">
                                <div class="tel-border" style="border:1px solid white; padding:  0px 10px; border-radius: 10px;font-size: 15px;"><i class="fa fa-phone fa-lg"></i> +99899 868 00 02</div>
                            </a>
                        </li>
                    </ul>
                </nav>

                <!-- mainmenu close -->

            </div>


        </div>
    </div>
</header>
<!-- header close -->