<div class="row custom_text" style="padding-bottom: 60px; padding-top: 40px">
    <div class="col-md-6 offset-md-3 text-center wow fadeInUp">
        <h1>НАШИ ПРЕИМУЩЕСТВА</h1>
        <div class="separator"><span></span></div>
    </div>
</div>
<section class="custom_bg">
    <div class="container">
        <div class="row justify-content-sm-between">

            {% for item in advantage %}
                <div class="col-lg-3 col-md-6 custom-col-advantage">


                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="{{ item.image.url }}" class="img-responsive" alt=""/>
                            </div>
                            <div class="flip-card-back">
                                <h3 class="flip-card-back-title">{{ item.title }}</h3>
                                <div class="small-border"></div>
                                <p>{{ item.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

            <div class="clearfix"></div>
        </div>
    </div>
</section>