{% load static %}

<!-- section begin -->
<section id="section-portfolio" class="no-top no-bottom" aria-label="section-portfolio">
    <div class="container">
        <div class="row" style="padding-bottom: 10px; padding-top: 40px">
            <div class="col-md-6 offset-md-3 text-center wow fadeInUp">
                <h1>Портфолио</h1>
                <div class="separator"><span><i class="fa fa-circle"></i></span></div>
            </div>
        </div>

        <div class="spacer-single"></div>

        <!-- portfolio filter begin -->
        {#                    <div class="row">#}
        {#                        <div class="col-md-12 text-center">#}
        {#                            <ul id="filters" class="wow fadeInUp" data-wow-delay="0s">#}
        {#                                <li><a href="index.html#" data-filter="*" class="selected">All Projects</a></li>#}
        {#                                {% for category in categories_portfolio %}#}
        {#                                    <li><a href="#" data-filter=".{{ category.name }}">{{ category.name }}</a></li>#}
        {#                                {% endfor %}#}
        {#                            </ul>#}
        {##}
        {#                        </div>#}
        {#                    </div>#}
        <!-- portfolio filter close -->

    </div>

    <div id="gallery" class="gallery full-gallery de-gallery pf_full_width wow fadeInUp" data-wow-delay=".3s">

        <!-- gallery item -->
        <div class="item residential">
            <div class="picframe">
                <a data-fancybox="gallery" href="{{ portfolies.0.image.url }}">
                                <span class="overlay">
                                    <span class="pf_text">
                                        <span class="project-name corr">{{ portfolies.0.title }}</span>
                                    </span>
                                </span>
                </a>
                <img src="{{ portfolies.0.image.url }}" alt=""/>
            </div>
        </div>
        <!-- close gallery item -->

        <!-- gallery item -->
        <div class="item residential">
            <div class="picframe">
                <a data-fancybox="gallery" href="{{ portfolies.1.image.url }}">
                                <span class="overlay">
                                    <span class="pf_text">
                                        <span class="project-name corr">{{ portfolies.1.title }}</span>
                                    </span>
                                </span>
                </a>
                <img src="{{ portfolies.1.image.url }}" alt=""/>
            </div>
        </div>
        <!-- close gallery item -->

        <!-- gallery item -->
        <div class="item residential">
            <div class="picframe">
                <a data-fancybox="gallery" href="{{ portfolies.2.image.url }}">
                                <span class="overlay">
                                    <span class="pf_text">
                                        <span class="project-name corr">{{ portfolies.2.title }}</span>
                                    </span>
                                </span>
                </a>
                <img src="{{ portfolies.2.image.url }}" alt=""/>
            </div>
        </div>
        <!-- close gallery item -->

        <!-- gallery item -->
        <div class="item residential">
            <div class="picframe">
                <a data-fancybox="gallery" href="{{ portfolies.3.image.url }}">
                                <span class="overlay">
                                    <span class="pf_text">
                                        <span class="project-name corr">{{ portfolies.3.title }}</span>
                                    </span>
                                </span>
                </a>
                <img src="{{ portfolies.3.image.url }}" alt=""/>
            </div>
        </div>
        <!-- close gallery item -->

        <!-- gallery item -->
        <div class="item residential">
            <div class="picframe">
                <a data-fancybox="gallery" href="{{ portfolies.4.image.url }}">
                                <span class="overlay">
                                    <span class="pf_text">
                                        <span class="project-name corr">{{ portfolies.4.title }}</span>
                                    </span>
                                </span>
                </a>
                <img src="{{ portfolies.4.image.url }}" alt=""/>
            </div>
        </div>
        <!-- close gallery item -->

        <!-- gallery item -->
        <div class="item residential">
            <div class="picframe">
                <a data-fancybox="gallery" href="{{ portfolies.5.image.url }}">
                                <span class="overlay">
                                    <span class="pf_text">
                                        <span class="project-name corr">{{ portfolies.5.title }}</span>
                                    </span>
                                </span>
                </a>
                <img src="{{ portfolies.5.image.url }}" alt=""/>
            </div>
        </div>
        <!-- close gallery item -->

        <!-- gallery item -->
        <div class="item residential">
            <div class="picframe">
                <a data-fancybox="gallery" href="{{ portfolies.6.image.url }}">
                                <span class="overlay">
                                    <span class="pf_text">
                                        <span class="project-name corr">{{ portfolies.6.title }}</span>
                                    </span>
                                </span>
                </a>
                <img src="{{ portfolies.6.image.url }}" alt=""/>
            </div>
        </div>
        <!-- close gallery item -->

        <!-- gallery item -->
        <div class="item residential">
            <div class="picframe">
                <a data-fancybox="gallery" href="{{ portfolies.7.image.url }}">
                                <span class="overlay">
                                    <span class="pf_text">
                                        <span class="project-name corr">{{ portfolies.7.title }}</span>
                                    </span>
                                </span>
                </a>
                <img src="{{ portfolies.7.image.url }}" alt=""/>
            </div>
        </div>
        <!-- close gallery item -->


    </div>

    <div id="loader-area">
        <div class="project-load"></div>
    </div>
</section>
<!-- section close -->

<!-- section begin -->
<section id="view-all-projects" class="call-to-action bg-color text-center custom_btn" data-speed="5"
         data-type="background" aria-label="view-all-projects">
    <a href="{% url 'main:portfolio_url' %}" class="btn btn-line black btn-big">Посмотреть все проекты</a>
</section>
<!-- logo carousel section close -->

