{% load static %}

<!-- section begin -->
<section id="section-welcome-14" class="no-top no-bottom  sm-mt0">

    <div class="container pb-lg-5 main-services-corr">

        {% include 'pages/home_include/advantage.html' %}

        <div class="div_title">
            <div class="service_title">
                <h1 class="text-center">Наши услуги</h1>
            </div>
        </div>
        <div class="row align-items-center no-gutters wow fadeInUp" data-bgcolor="rgba(20,20,20,.9)">
            <div class="col-md-6 text-middle">
                <div class="padding30">
                    <h3><span>{{ process.0.title }}</span></h3>
                    <p>{{ process.0.description|safe }}</p>
                    <a href="{% url 'main:arenda_url' %}" class="btn-line btn-line-custom service-details-btn">Подробнее</a>
                </div>
            </div>

            <div class="col-md-6 text-middle">
                <div class="twentytwenty-container">
                    <img src="{{ process.0.image.url }}" alt="" class="img-responsive"/>
                </div>
            </div>

        </div>

        <div class="row align-items-center no-gutters wow fadeInUp" data-bgcolor="rgba(20,20,20,.9)">

            <div class="col-md-6 text-middle">
                <div class="twentytwenty-container">
                    <img src="{{ process.1.image.url }}" alt="" class="img-responsive"/>
                </div>
            </div>

            <div class="col-md-6 text-middle">
                <div class="padding30">
                    <h3><span>{{ process.1.title }}</span></h3>
                    <p>{{ process.1.description|safe }}</p>
                    <a href="{% url 'main:sale_url' %}" class="btn-line btn-line-custom service-details-btn">Подробнее</a>
                </div>
            </div>

        </div>


        <div class="row align-items-center no-gutters wow fadeInUp shadow-bottom" data-bgcolor="rgba(20,20,20,.9)">

            <div class="col-md-6 text-middle">
                <div class="padding30">
                    <h3><span>{{ process.2.title }}</span></h3>
                    <p>{{ process.2.description|safe }}</p>
                    <a href="{% url 'main:service_url' %}" class="btn-line btn-line-custom service-details-btn">Подробнее</a>
                </div>
            </div>

            <div class="col-md-6 text-middle">
                <div class="twentytwenty-container">
                    <img src="{{ process.2.image.url }}" alt="" class="img-responsive"/>
                </div>
            </div>

        </div>

    </div>


</section>
<!-- section close -->