{% load static %}

<section class="banner" style="background-image: url('{% static 'images/home_page/tepa_fonn.png' %}'); background-position: center;">
    <div class="background">
        <div class="text-company-name text-center text-uppercase">
            <h1>LED DESIGN GROUP</h1>
        </div>
        <div class="text-company-motto text-center text-uppercase">
            <h3>Взгляни в реальность</h3>
        </div>
        <div class="text-company-button text-center text-uppercase">
            <a href="{% url 'main:about_url' %}" class="btn-slider">Подробнее</a>
        </div>
    </div>
</section>

<!-- revolution slider begin -->
{% comment %}

<section id="section-slider" class="fullwidthbanner-container" aria-label="section-slider">
    <div id="revolution-slider">
        <ul>
            <li data-transition="fade" data-slotamount="10" data-masterspeed="200" data-thumb="">
                <!--  BACKGROUND IMAGE -->
                <img src="{% static 'images/home_page/tepa_fon.png' %}" alt=""/>


                <div class="tp-caption big-white sft home-header-small" data-speed="800"
                     data-start="400" data-easing="easeInOutExpo"
                     data-endspeed="450">
                    взгляни в реальность
                </div>

                <div class="tp-caption ultra-big-white customin customout start home-header">
                    Led Design Group
                </div>

                <div class="tp-caption sfb" data-x="0" data-y="335" data-speed="400" data-start="800"
                     data-easing="easeInOutExpo">
                    <a href="{% url 'main:about_url' %}" class="btn-slider">Подробнее
                    </a>
                </div>
            </li>

        </ul>
    </div>
</section>
{% endcomment %}

<!-- revolution slider close -->

