{% extends 'base/base.html' %}
{% load static %}

{% block title %} Аренда | LED DESIGN GROUP {% endblock title %}

{% block content%}
    <!-- subheader -->
        <section  class="subheader header_arenda_bj" data-speed="8" data-type="background">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 subheader_div">
                        <h1>Аренда</h1>
                    </div>
                </div>
            </div>
        </section>
    <!-- subheader close -->

<!-- content begin -->
        <div id="content" class="no-bottom no-top">

            <!-- revolution slider begin -->
            <section id="section-welcome-14">

				<div class="container">
            {% for arenda in arendas %}

					<div class="row align-items-center no-gutters wow fadeInUp">

                        <div class="col-md-6 text-middle">
							<div class="twentytwenty-container">
							  <img src="{{ arenda.image.url }}" alt="" class="img-responsive" />
							</div>
						</div>

						<div class="col-md-6 text-middle">
							<div class="padding50">
								<h3 class="team-item-title"><span class="id-color">{{ arenda.title }}</span></h3>
								<p class="team-item-text">{{ arenda.description|safe }}</p>
{#								<a href="index-before-after.html#" class="btn-line">View Details</a>#}
							</div>
						</div>

                    </div>
                <div class="spacer-double"></div>

                {% endfor %}

                    <div class="text-center">
                        {% if is_paginated %}
                            <ul class="pagination">
                                {% if page_obj.has_previous %}
                                    <li><a href="?page={{ page_obj.previous_page_number }}">Prev</a></li>
                                {% endif %}

                            {% for i in paginator.page_range %}
                                    {% if page_obj.number == i %}
                                <li class="active"><a>{{ i }}</a></li>
                                        {% else %}
                                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                                        {% endif %}
                            {% endfor %}
                                {% if page_obj.has_next %}
                                    <li><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
                                {% endif %}
                            </ul>
                        {% endif %}
                    </div>
				</div>


            </section>
            <!-- revolution slider close -->


			</div>

{% endblock content %}