{% extends 'base/base.html' %}
{% load static %}

{% block title %} Контакты | LED DESIGN GROUP {% endblock title %}

{% block content %}

    <!-- subheader -->
    <section class="subheader header_contact_bj" data-speed="8" data-type="background">
        <div class="container">
            <div class="row">
                <div class="col-md-12 subheader_div">
                    <h1>Контакты</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- subheader close -->

    <!-- content begin -->
    <div id="content" class="no-top">
        <section id="de-map" aria-label="map-container">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="map-container map-fullwidth img-rounded">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2997.3935322132684!2d69.21055711481942!3d41.30030180935328!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae8ba899063367%3A0x3004bbba7ab68f50!2sLed%20Design%20Group!5e0!3m2!1suz!2s!4v1611468907670!5m2!1suz!2s"
                                    width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""
                                    aria-hidden="false" tabindex="0"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="container">
            <div class="row">

                <div class="col-md-8">
                    <h3>Отправить Сообщение</h3>

                    <form name="contactForm" id='contact_form' method="post" action="{% url 'main:contact_url' %} ">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">

                                {% for error in form.name.errors %}
                                    <div id='name_error' class='error'>{{ error }}</div>
                                {% endfor %}

                                <div>
                                    {{ form.name }}
                                </div>

                                {% for error in form.email.errors %}
                                    <div id="email_error" class='error'>{{ error }}</div>
                                {% endfor %}

                                <div>
                                    {{ form.email }}
                                </div>

                                {% for error in form.phone.errors %}
                                    <div class='error'>{{ error }}</div>
                                {% endfor %}

                                <div>
                                    {{ form.phone }}
                                </div>

                            </div>

                            <div class="col-md-6">

                                {% for error in form.message.errors %}
                                    <div id='message_error' class='error'>{{ error }}</div>
                                {% endfor %}

                                <div>
                                    {{ form.message }}
                                </div>

                            </div>

                            <div class="col-md-12">
                                <button type="submit" class="btn btn-line">Отправить</button>
                                {#                                    <p id='submit'>#}
                                {#                                        <button type='submit' id='send_message' class="btn btn-line">Отправитъ</button>#}
                                {#                                    </p>#}
                                <div id='mail_success' class='success'>Your message has been sent successfully.</div>
                                <div id='mail_fail' class='error'>Sorry, error occured this time sending your message.
                                </div>
                            </div>
                        </div>
                    </form>

                </div>

                <div id="sidebar" class="col-md-4">

                    <div class="widget widget_text">
                        <h3>Контактная Информация</h3>
                        <address>
                            <span class="custom_span"><strong><i class="fa fa-map fa-lg"></i></strong>{{ settings.address }}</span>
                            <span class="custom_span"><strong><i class="fa fa-phone fa-lg"></i></strong>{{ settings.tel_first }}</span>
                            <span class="custom_span"><strong><i class="fa fa-mobile fa-lg"></i></strong><a
                                    href="#">{{ settings.tel_second }}</a></span>
                            <span class="custom_span"><strong><i class="fa fa-mail-reply fa-lg"></i></strong><a
                                    href="#">{{ settings.email }}</a></span>
                            {#                                <span><strong><i class="fa fa-fax fa-lg"></i></strong>{{ settings.fax }}</span>#}
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}
