{% extends 'base/base.html' %}
{% load static %}

{% block title %} Портфолио | LED DESIGN GROUP {% endblock title %}


{% block content %}
<!-- subheader -->
        <section class="subheader header_portfolio_bj" data-speed="8" data-type="background">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 subheader_div">
                        <h1 class="subheader_title">Портфолио</h1>
                    </div>
                </div>
            </div>
        </section>
<!-- subheader close -->


<!-- section begin -->
    <section id="section-portfolio" class="no-top no-bottom" aria-label="section-portfolio">
                <div class="container">
{#                    <div class="row" style="padding-bottom: 10px; padding-top: 40px">#}
{#                        <div class="col-md-6 offset-md-3 text-center wow fadeInUp">#}
{#                            <h1>Портфолио</h1>#}
{#                            <div class="separator"><span><i class="fa fa-circle"></i></span></div>#}
{#                        </div>#}
{#                </div>#}


                    <div class="spacer-single"></div>

                    <!-- portfolio filter begin -->
{#                    <div class="row">#}
{#                        <div class="col-md-12 text-center">#}
{#                            <ul id="filters" class="wow fadeInUp" data-wow-delay="0s">#}
{#                                <li><a href="index.html#" data-filter="*" class="selected">All Projects</a></li>#}
{#                                <li><a href="index.html#" data-filter=".residential">Residential</a></li>#}
{#                            </ul>#}
{##}
{#                        </div>#}
{#                    </div>#}
                    <!-- portfolio filter close -->

                </div>

                <div id="gallery" class="gallery full-gallery de-gallery pf_full_width wow fadeInUp" data-wow-delay=".3s">

                    {% for portfolio in portfolies %}
                    <!-- gallery item -->
                    <div class="item">
                        <div class="picframe">
                            <a data-fancybox="gallery" href="{{ portfolio.image.url }}">
                                <span class="overlay">
                                    <span class="pf_text">
                                        <span class="project-name">{{ portfolio.title}}</span>
                                    </span>
                                </span>
                            </a>
                            <img src="{{ portfolio.image.url }}" alt="{{ portfolio.title }}" />
                        </div>
                    </div>
                    <!-- close gallery item -->
                {% endfor %}

                </div>

                <div id="loader-area">
                    <div class="project-load"></div>
                </div>
            </section>
<!-- section close -->


{% endblock content %}}
