{% extends 'base/base.html' %}
{% load static %}

{% block title %} Продажа | LED DESIGN GROUP {% endblock title %}


{% block content %}
    <!-- subheader -->
    <section class="subheader header_sale_bj" data-speed="8" data-type="background">
        <div class="container">
            <div class="row">
                <div class="col-md-12 subheader_div">
                    <h1 class="subheader_title">Продажа</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- subheader close -->


    <!-- content begin -->
    <div id="content" class="no-bottom no-top">

        <!-- revolution slider begin -->
        <section id="section-welcome-14">

            <div class="container">
                <div class="row">

                    {% for item in products %}
                        <div class="col-md-6 col-sm-12 align-items-center no-gutters wow fadeInUp">
                            <div class="item-block-new">

                                <div class="twentytwenty-container new_style_page">
                                    <a href="{% url 'main:sale_detail_url' item.pk %}" class="img-link" style="border: none ">
                                        <img src="{{ item.image.url }}" alt="" class="img-responsive"/>
                                    </a>
                                </div>

                                <div class="padding30 new_block_text">
                                    <h3><span class="id-color sale-item-title bx-color">{{ item.title }}</span></h3>
                                    <p>{{ item.description|safe }}</p>
                                    <a href="{% url 'main:sale_detail_url' item.pk %}" class="btn-line">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
                <div class="spacer-double"></div>

            </div>


        </section>
        <!-- revolution slider close -->


    </div>

{% endblock content %}
