{% extends 'base/base.html' %}
{% load static %}

{% block content %}

    <!-- parallax section -->
    <section id="section-welcome" data-bgimage="url({% static 'images/background/detail_prodaja.jpg' %})"
             class="relative full-height overflow-hidden" data-stellar-background-ratio=".5">
        <div id="particles-js"></div>

        <div class="center-y relative text-center pt-lg-5 sale-detail-page">

            <div class="spacer-double"></div>
            <img src="{{ object.image_inner.url }}" class="img-fluid">
            <div class="spacer-single"></div>
            <h2>{{ object.title }}</h2>
        </div>


    </section>
    <!-- parallax section close -->


<div class="container">
        <div class="row mb-5 sale-deail-table" style="margin-top: -10px;">
        <div class="col-lg-6 col-md-12 col-sm-12 p-5">
            <div class="owl-carousel owl-product owl-theme">
                {% for i in object.slider_image.all %}
                    <div class="item"><img src="{{ i.image.url }}"></div>
                {% endfor %}

            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 sale-table-borders">
             <p>{{ object.content|safe }}</p>
        </div>
    </div>
</div>



{% endblock content %}
{% block js %}
    <script src="{% static 'js/particles.js' %}"></script>
    <script src="{% static 'js/particles-settings.js' %}"></script>
{% endblock js %}