{% extends 'base/base.html' %}
{% load static %}

{% block title %} Сервисы | LED DESIGN GROUP {% endblock title %}


{% block content %}

    <!-- subheader -->
    <section class="subheader header_service_bj" data-speed="8" data-type="background">
        <div class="container">
            <div class="row">
                <div class="col-md-12 subheader_div">
                    <h1>Сервисы</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- subheader close -->
    <!-- section begin -->
    <section id="section-welcome-14" class="no-top no-bottom sm-mt0 ">

        <div class="container corr-services">

            {% for service in services %}
                {% if forloop.counter|divisibleby:2 %}
                    <div class="row align-items-center no-gutters wow fadeInUp" data-bgcolor="rgba(20,20,20,.9)">

                        <div class="col-md-6 text-middle">
                            <div class="twentytwenty-container">
                                <img src="{{ service.image.url }}" alt="" class="img-responsive"/>
                            </div>
                        </div>

                        <div class="col-md-6 text-middle">
                            <div class="padding50">
                                <h3><span>{{ service.title }}</span></h3>
{#                                <h3><span class="id-color">{{ service.title }}</span></h3>#}
                                <p>{{ service.description|safe }}</p>
                            </div>
                        </div>

                    </div>
                {% else %}
                    <div class="row align-items-center no-gutters wow fadeInUp" data-bgcolor="rgba(20,20,20,.9)">
                        <div class="col-md-6 text-middle">
                            <div class="padding50">
                                <h3><span>{{ service.title }}</span></h3>
                                <p>{{ service.description|safe }}</p>
                                <a href="{% url 'main:arenda_url' %}" class="btn-line btn-line-custom">Подробнее</a>
                            </div>
                        </div>

                        <div class="col-md-6 text-middle">
                            <div class="twentytwenty-container">
                                <img src="{{ service.image.url }}" alt="" class="img-responsive"/>
                            </div>
                        </div>

                    </div>
                {% endif %}
            {% endfor %}


        </div>

    </section>
    <!-- section close -->
{% endblock content %}