{% extends 'base/base.html' %}
{% load static %}

{% block title %} О Нас | LED DESIGN GROUP {% endblock title %}


{% block content %}
    <!-- content begin -->
    <div id="content" class="no-top no-bottom">
        <section id="side-01-about" class="side-bg no-bottom pt80 sm-no-padding" data-bgcolor="#1d1e1f">
            <div class="image-container custom-about-bj col-lg-5 offset-lg-7 pull-left" data-delay="0"></div>

            <div class="container">
                <div class="row">
                    <div class="col-lg-6" data-animation="fadeInRight" data-delay="200">
                        <div class="inner-padding" style="font-size: 15px;">

{#                            <h2 class="style-2"><span class="id-color">О Led Design Group</span></h2><br>#}
                            <h2>О компании</h2>
                            <p> «LED DESIGN GROUP - не просто компания, Мы - целая Семья.»
                                <br>
                                <br>
                                C 2011 года наша компания занимается продвижением светодиодных
                                технологий в Республике Узбекистан. К настоящему времени компания
                                LED DESIGN GROUP зарекомендовала себя как надежного поставщика и
                                 партнёра среди многих государственных учреждений и крупных
                                организаций, реализовав более1000 успешных крупномасштабных проектов.</p>

                            <p>Компания занимается предоставлением услуги аренды, продажи и
                                техническое сопровождение полноцветных светодиодных экранов LED,
                                 многофункциональные видеопроцессоры, интерактивные
                                мультимедийные оборудования, камеры онлайн трансляции,
                                 телевизоры суфлеры, алюминиевые металлоконструкции, сценические
                                 подиумы, световые оборудования, звуковые оборудования, и т.д.</p>

                             <div class="row">

                                    <div class="col-md-4 wow fadeIn" data-wow-delay=".75s">
                                        <div class="de_count">
                                            <h3>
                                                <span></span>
                                                <span class="timer" data-to="{{ settings.about_page_year }}" data-speed="1000">0</span>
                                            </h3>
                                            <span>лет на рынке</span>
                                        </div>
                                    </div>

                                    <div class="col-md-4 wow fadeIn" data-wow-delay="0">
                                        <div class="de_count">
                                            <h3>
                                                <span></span>
                                                <span class="timer" data-to="{{ settings.about_page_partners_count }}" data-speed="1000">0</span>
                                            </h3>
                                            <span>надежных партнеров</span>
                                        </div>
                                    </div>

                                    <div class="col-md-4 wow fadeIn" data-wow-delay=".25s">
                                        <div class="de_count">
                                            <h3>
                                                <span>+</span>
                                                <span class="timer" data-to="{{ settings.about_page_successfull_projects }}" data-speed="1000">0</span>
                                            </h3>
                                            <span>Успешных проектов</span>
                                        </div>
                                    </div>
                                </div>

                        </div>

                    </div>


                    <div class="clearfix"></div>


                </div>
            </div>
        </section>


    </div>
{% endblock content %}
