{% extends 'base/base.html' %}
{% load static %}

{% block title %} Награды | LED DESIGN GROUP {% endblock title %}

{% block content %}

    <!-- subheader -->
    <section class="subheader header_sertifikat_bj" data-speed="8" data-type="background">
        <div class="container">
            <div class="row">
                <div class="col-md-12 subheader_div">
                    <h1 class="subheader_title">Сертификаты</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- subheader close -->

    <!-- content begin -->
    <div id="content" class="no-top no-bottom">

        <div class="owl-custom-nav">
            <a class="btn-next"></a>
            <a class="btn-prev"></a>
        </div>

        <div id="gallery-carousel-4" class="owl-carousel owl-theme owl-slide">
            {% for item in awards %}
                <!-- gallery item -->
                <div class="item p-3">
                    <div class="picframe">
                        <a data-fancybox="gallery" href="{{ item.image.url }}">
                            <span class="overlay-v">
                                <span class="pf_text">
                                    <span class="project-name">{{ item.title }}</span>
                                </span>
                            </span>
                        </a>
                        <img src="{{ item.image.url }}" alt=""/>
                    </div>

                </div>
                <!-- close gallery item -->
            {% endfor %}

        </div>
    </div>
{% endblock content %}