{% extends 'base/base.html' %}
{% load static %}

{% block title %} Наша команда | LED DESIGN GROUP {% endblock title %}

{% block content %}
<!-- subheader -->
        <section class="subheader header_team_bj" data-speed="8" data-type="background">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 subheader_div">
                        <h1 class="subheader_title">Наша Команда</h1>
                    </div>
                </div>
            </div>
        </section>
<!-- subheader close -->

    <!-- section begin -->
            <section id="section-welcome-14" class="no-top no-bottom sm-mt0">

				<div class="container pt-5 pb-5">

					<div class="row align-items-center no-gutters wow fadeInUp team-item">

                        <div class="col-md-6 text-middle">
							<div class="twentytwenty-container">
							  <img src="{{ teams.0.image.url }}" alt="" class="img-responsive" />
							</div>
						</div>

						<div class="col-md-6 text-middle">
							<div class="padding50">
								<h3 class="team-item-title"><span class="id-color">{{ teams.0.title }}</span></h3>
								<p class="team-item-text corr-text">{{ teams.0.description }}</p>
							</div>
						</div>

                    </div>


					<div class="row align-items-center no-gutters wow fadeInUp team-item">

						<div class="col-md-6 text-middle">
							<div class="padding50">
								<h3 class="team-item-title"><span class="id-color">{{ teams.1.title }}</span></h3>
								<p class="team-item-text corr-text">{{ teams.1.description}} </p>
							</div>
						</div>

                        <div class="col-md-6 text-middle">
							<div class="twentytwenty-container">
							  <img src="{{ teams.1.image.url }}" alt="" class="img-responsive" />
							</div>
						</div>

                    </div>

				</div>


            </section>
     <!-- section close -->

{% endblock content%}