.btn-line-custom{
    float: right;
}
.custom_btn{
    padding: 20px 0 20px 0 !important;
}

.logo_custom{
    width: 60px;
    height: auto;
}

.img_custom{
    width: 240px;
}

.custom_text{
    padding-bottom: 20px !important;
}
.custom_text h1{
    color: #212529;
}


.shadow-bottom {
  box-shadow: 0 5px 5px -5px #333;
}

.div_title{
    display: flex;
    align-items: center;
    justify-content: center;
}
.service_title{
    padding-top: 5px;
    margin-bottom: 0px;
    /*border-radius: 5px;*/
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 300px;
    height: 50px;
    background-color: rgba(20, 20, 20, 0.9);
}

.custom_bg{
    background: none;
    padding: 0px 0 90px 0 !important;
    /*border: 1px solid red;*/
}

section#section-welcome-14 > .container > .row:nth-child(odd) > div {
    flex-direction: row-reverse;
    }

section#section-welcome-14 > .container > .row:nth-child(even) > div {
    flex-direction: row;
}
/*

.home-header{
		left: 30%!important;
}
.home-header-small{
    left: 50%!important;
    margin-top: 140px!important;
}
*/

.banner {
    font-family: "Dosis";
}

.banner .text-company-name {
    margin-top: 180px;
}

.banner .text-company-name h1 {
    font-family: 'Open Sans';
    font-size: 64px;
    letter-spacing: 6px;
    font-weight: bold;
    /*@media (min-width: 768px) {*/
    /*    */
    /*}*/
}

.banner .text-company-motto {
    margin-top: 18px;
}

.banner .text-company-motto h3 {
    font-family: 'Open Sans';
    font-size: 32px;
}

.banner .text-company-button {
    margin-top: 60px;
}

.banner .text-company-button a.btn-slider {
    border: 2px solid #c5c5c5;
    font-family: 'Open Sans';
}

.banner .text-company-button a.btn-slider:hover {
    border: 2px solid #c5c5c5;
}

.banner > div:last-child {
    margin-bottom: 180px;
}


@media (max-width: 767px) {
    padding50{
        padding: 20px!important;
    }
}


.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.portfolio-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.logo-small{
    padding-right: 35px!important;
    padding-bottom: 25px!important;
}
address > span > strong{
    width: 30px!important;
}


.social > ul > li{
    border: none!important;
}
.wow {

    overflow: hidden!important;

}

.sale-item-title{
    font-size: 16px!important;
}

.item-block-new {
    display: flex;
    align-items: center;
    height: 100%;
    /*background-color: rgba(20, 20, 20, 0.9);*/
    padding: 0 15px;
}

.item-block-new h1 > span,
.item-block-new p,
.item-block-new a {
    color: #0b0b0b;
}
.item-block-new a{
    border: 1px solid grey;
}

.item-block-new .padding30.new_block_text {
    padding-right: 0 !important;
}
.twentytwenty-container.new_style_page {
    overflow: hidden;
}
.twentytwenty-container.new_style_page img {
    transition: 0.5s;
}
.twentytwenty-container.new_style_page:hover img {
    transform: scale(1.2);
}
.banner-datale {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 80px 0;
}
.block-text {
    height: 100%;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}
.block-text span {
    display: inline-block;
    width: 100%;
}
.item-slider {
    height: 150px;
    overflow: hidden;
}
.item-slider img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

table {
    text-align: center;
}
table > tbody > tr{
    border: 0.75px solid white;
}
table > tbody > tr > td{
    border: 0.75px solid white;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  color: #212529;
}

.flip-card-back {
  color: #212529!important;
  transform: rotateY(180deg);
}

.flip-card-back-title{
    color: #212529!important;
}

.sale-deail-table{
    display: flex;
    align-items: start;
    justify-content: center;
}

@media (max-width: 767px) {
    .sale-table-borders{
        padding: 0px 30px!important;
        display: flex;
        justify-content: center;
}
}
.team-item{
    background-color: transparent!important;
}

 .team-item-text{
     color: #212529!important;
 }

.team-item-title span{
    color: #212529!important;
}

.header_menu_border_bottom:hover{
    border-bottom: 1px solid #fff;
}

.custom-col-advantage {
    max-width: 100%!important;
    padding: 0;
}

.custom_span strong i{
    color: white!important;
}

/*.custom-about-bj{*/
/*    height: 515px!important;*/
/*}*/

.header_arenda_bj{
        background: url(../images/custom/header_arenda_2.jpg);
}

.header_portfolio_bj{
        background: url(../images/custom/portfolio.png);
}


.header_service_bj{
        background: url(../images/custom/header_3.jpg);
}


.header_contact_bj{
        background: url(../images/custom/contacts.jpg);
}

.header_sertifikat_bj{
        background: url(../images/custom/sertifikat.png);
}

.header_team_bj{
        background: url(../images/custom/nasha_comand.png);
}

.header_sale_bj{
        background: url(../images/custom/prodaja.png);
}


.subheader{
    background-position: center;
    background-size: cover;
    height: 400px;
    max-width: 100%;
}

.subheader .subheader_div{
    top: 110px;
}

.subheader .subheader_div > h1{
    font-size: 40px;
    font-weight: 600;
}

.subheader_portfolio{
    background: url(../images/custom/portfolio.jpg);
    background-position: center;
    background-size: cover;
    height: 400px;
    max-width: 100%;
}

.subheader_portfolio .subheader_div{
    top: 110px;
}

.subheader_portfolio .subheader_div > h1{
    font-size: 40px;
    font-weight: 600;
}


/*corrections*/
body .picframe .project-name.corr {
    color: #eceff3 ;
}

body .team-item-text.corr-text {
    font-size: 15px;
    line-height: 2;
}
@media (min-width: 1024px) {
    footer .widget_recent_post.corr-social li {
        margin-bottom: 5px;
    }
}
.container.corr-services {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.container.corr-services h3 {
    font-size: 21px;
}
.main-services-corr h3 {
    font-weight: bold;
}
.main-services-corr {

}
.container.corr-services .btn-line {
    display: none;
}
/*@media (min-width: 576px) {*/
/*    body .service-corr-bg {*/
/*        width: 1380px;*/
/*        margin: 0 auto;*/
/*    }*/
/*    body .sm-mt0.service-corr {*/
/*        !*background-color: #131313;*!*/
/*    }*/
/*}*/

#homepage .custom-col-advantage .flip-card-back > p {
    font-size: 1.2em;
}


.service-details-btn {
    margin-bottom: 17.5px;
}

.sale-detail-page .responsive {
    max-width: 900px;
    height: 400px;
    /*border: 1px solid red;*/
}

.sale-detail-page {
    margin-top: -70px !important;
}

.sale-table {
    max-width: 530px;
}

@media only screen and (min-width: 1100px) {
    .sale-table {
        max-width: 530px !important;
    }
}

@media only screen and (min-width: 375px) and (max-width: 667px) {
    .sale-table {
        /*max-width: 470px !important;*/
        margin: 0 20px;
    }
}
