{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% block title %} {% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="LED DESIGN GROUP">
    <meta name="keywords" content="architecture,building,business,bootstrap,creative,exterior design,furniture design,gallery,garden design,house,interior design,landscape design,multipurpose,onepage,portfolio,studio">
    <meta name="author" content="">


    <!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<![endif]-->


    <!-- CSS Files
    ================================================== -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css'  %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/jpreloader.css'  %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/animate.css'  %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/plugin.css'  %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css'  %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.theme.css'  %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.transitions.css'  %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css'  %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css'  %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/custom.css'  %}" type="text/css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <!-- custom background -->
    <link rel="stylesheet" href="{% static 'css/bg.css' %}" type="text/css">

    <!-- color scheme -->
	<link rel="stylesheet" href="{% static 'css/colors/yellow.css' %} " type="text/css" id="colors">
    <link rel="stylesheet" href="{% static 'css/color.css' %}" type="text/css">

    <!-- load fonts -->
    <link rel="stylesheet" href="{% static 'fonts/font-awesome/css/font-awesome.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'fonts/elegant_font/HTML_CSS/style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'fonts/et-line-font/style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'fonts/malgun-gothic/malgun.ttf' %}" type="text/css">
    <!-- revolution slider -->
    <link rel="stylesheet" href="{% static 'rs-plugin/css/settings.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/rev-settings.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style_b.css' %}" type="text/css">
</head>

<body id="homepage">

 <div id="wrapper">
     {% include 'include/header.html' %}

    <!-- content begin -->
     <div id="content" class="no-bottom no-top">

         {% block content %}

         {% endblock content %}

        {% include 'include/footer.html' %}
     </div>
     <!-- content close -->
 </div>

    <!-- Javascript Files
    ================================================== -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jpreLoader.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.isotope.min.js' %}"></script>
    <script src="{% static 'js/easing.js' %}"></script>
    <script src="{% static 'js/jquery.flexslider-min.js' %}"></script>
    <script src="{% static 'js/jquery.scrollto.js' %}"></script>
    <script src="{% static 'js/owl.carousel.js' %}"></script>
    <script src="{% static 'js/jquery.countTo.js' %}"></script>
    <script src="{% static 'js/classie.js' %}"></script>
    <script src="{% static 'js/video.resize.js' %}"></script>
    <script src="{% static 'js/validation.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
	<script src="{% static 'js/enquire.min.js' %}"></script>
	<script src="{% static 'js/cookit.js' %}"></script>
    <script src="{% static 'js/designesia.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
{#    <script src="{% static 'js/particles.js' %}"></script>#}
{#    <script src="{% static 'js/particles-settings.js' %}"></script>#}
{% block js %}
 {% endblock js %}
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    <!-- SLIDER REVOLUTION SCRIPTS  -->
    <script src="{% static 'rs-plugin/js/jquery.themepunch.plugins.min.js' %}"></script>
    <script src="{% static 'rs-plugin/js/jquery.themepunch.revolution.min.js' %}"></script>

{#    <!-- COOKIES PLUGIN  -->#}
{#     <script>#}
{#      $(document).ready(function() {#}
{#        $.cookit({#}
{#          backgroundColor: '#1c1c1c',#}
{#          messageColor: '#fff',#}
{#          linkColor: '#fad04c',#}
{#          buttonColor: '#fad04c',#}
{#          messageText: "This website uses <b>cookies</b> to ensure you get the best experience on our website.",#}
{#          linkText: "Learn more",#}
{#          linkUrl: "index.html",#}
{#          buttonText: "I accept",#}
{#        });#}
{#      });#}
{#    </script>#}


</body>

</html>
