.btn-line-custom{
    float: right;
}
.custom_btn{
    padding: 20px 0 20px 0 !important;
}

.logo_custom{
    width: 235px;
    height: auto;
}

.img_custom{
    width: 240px;
}

.custom_text{
    padding-bottom: 20px !important;
}
.custom_text h1{
    color: #212529;
}


.shadow-bottom {
  box-shadow: 0 5px 5px -5px #333;
}

.div_title{
    display: flex;
    align-items: center;
    justify-content: center;
}
.service_title{
    padding-top: 5px;
    margin-bottom: 0px;
    /*border-radius: 5px;*/
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 300px;
    height: 50px;
    background-color: rgba(20, 20, 20, 0.9);
}

.custom_bg{
    background: none;
    padding: 0px 0 90px 0 !important;
}

section#section-welcome-14 > .container > .row:nth-child(odd) {
    flex-direction: row-reverse;
}

section#section-welcome-14 > .container > .row:nth-child(even) {
    flex-direction: row;
}
/*

.home-header{
		left: 30%!important;
}
.home-header-small{
    left: 50%!important;
    margin-top: 140px!important;
}
*/

.banner {
    font-family: "Dosis";
}

.banner .text-company-name {
    margin-top: 180px;
}

.banner .text-company-name h1 {
    font-size: 64px;
    letter-spacing: 10px;
    font-weight: bold;
}

.banner .text-company-motto {
    margin-top: 18px;
}

.banner .text-company-motto h3 {
    font-size: 32px;
}

.banner .text-company-button {
    margin-top: 60px;
}

.banner .text-company-button a.btn-slider {
    border: 2px solid #c5c5c5;
}

.banner .text-company-button a.btn-slider:hover {
    border: 2px solid #c5c5c5;
}

.banner > div:last-child {
    margin-bottom: 180px;
}


@media (max-width: 767px) {
    padding50{
        padding: 20px!important;
    }
}


.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.portfolio-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.logo-small{
    padding-right: 35px!important;
    padding-bottom: 25px!important;
}
address > span > strong{
    width: 30px!important;
}


.social > ul > li{
    border: none!important;
}
.wow {

    overflow: hidden!important;

}

.sale-item-title{
    font-size: 16px!important;
}

.item-block-new {
    display: flex;
    align-items: center;
    height: 100%;
    /*background-color: rgba(20, 20, 20, 0.9);*/
    padding: 0 15px;
}

.item-block-new h1 > span,
.item-block-new p,
.item-block-new a {
    color: #0b0b0b;
}
.item-block-new a{
    border: 1px solid grey;
}

.item-block-new .padding30.new_block_text {
    padding-right: 0 !important;
}
.twentytwenty-container.new_style_page {
    overflow: hidden;
}
.twentytwenty-container.new_style_page img {
    transition: 0.5s;
}
.twentytwenty-container.new_style_page:hover img {
    transform: scale(1.2);
}
.banner-datale {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 80px 0;
}
.block-text {
    height: 100%;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}
.block-text span {
    display: inline-block;
    width: 100%;
}
.item-slider {
    height: 150px;
    overflow: hidden;
}
.item-slider img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/*corrections*/
body .picframe .project-name.corr {
    color: #eceff3 ;
}

body .team-item-text.corr-text {
    font-size: 15px;
    line-height: 2;
}

/*@media (min-width: 576px) {*/
/*    body .service-corr-bg {*/
/*        width: 1380px;*/
/*        margin: 0 auto;*/
/*    }*/
/*    body .sm-mt0.service-corr {*/
/*        !*background-color: #131313;*!*/
/*    }*/
/*}*/
